.GalleryHead{
    font-weight: 600;
    font-size: 5vh;
    margin-top: 5vh;
    /* display: flex;
    flex-direction: column; */
    justify-items: center;
    align-items: center; 
    text-align: center;
}

.Images{
    display: flex;
    /* flex-direction: column; */

}

.img1{
    margin-left: 3.5vw;
    margin-right: 1.5vw;
    margin-top: 2vh; 
}
.img2{
    margin-top: 2vh; 
}
.img3{
    margin-left: 1.5vw;
    margin-right: 3.5vw;
    margin-top: 2vh; 
}

.galleryImage{
    margin-top: 5vh;
    height: 80%;
    width: 50vw;
    /* min-width: px; */
}